<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="GardenGroupDatabase" connectionString= "mongodb+srv://gardengroup:cuteparrot@cluster0.oa6at.azure.mongodb.net/GardenGroup?retryWrites=true&amp;w=majority" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>